* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: #44BBA4;
    display: flex;
    color: #393E41;
}

.panel {
    background-color: #D3D0CB;
    width: 30%;
    margin: 140px auto;
    position: relative;
    padding: 20px;
}

.panel-head {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.panel-body {
    margin: 20px auto;
}

.panel-body .row {
    margin: 20px 0px;
}

button {
    padding: 6px 14px;
    background-color: #393E41;
    color: #E7E5DF;
    margin: 8px;
    width: fit-content;
    border: none;
    font-size: 18px;
}

button:hover {
    padding: 6px 14px;
    background-color: #E7BB41;
    color: #393E41;
    margin: 8px;
    width: fit-content;
    font-size: 18px;
}